---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.project-entry {
    border-bottom: 1px solid;
    margin-top: 3em;
}

.project-description {
    margin-top: 1em;
    overflow: hidden;
}

.project-image {
    min-width: 30%;
    max-width: 50%;
    float: right;
}

.left-column {
    width: 45%;
    float: left;

    img {
        width: 90%;
        padding-top: 30px;
    }
}

.right-column {
    width: 55%;
    float: right;
}
